
<div class="about-main">
  <h2>twimarkとは</h2>
  <p>
  	気に入ったツイートをブックマークできるよ
  </p>
  <p>
  	使い方は簡単。ＵＲＬを記入するだけなの∠( 'ω')/
  </p>
  <img src = "screen1.png">
  <img src = "screen2.png">
  <p>
  	履歴
  	2018.03.20~Release
  	
  </p>
</div>
