<div class="about-main">
  <p>
   <%= link_to("新規登録", "/signup") %>
 </p>
 <p>
  or
 </p>
   <p>
    <%= link_to("ログイン", "/login") %>
  </p>
   <hr>
  <h3>twimarkとは</h3>
  <p>
  	気に入ったツイートをブックマークできるよ
  </p>
  <p>
  	使い方は簡単。ＵＲＬを記入するだけなの∠( 'ω')/
  </p>
  <img src = "1.jpg">
  <p>↓
  </p>
  <img src = "2.jpg">
  <p>↓
  </p>
  <img src = "3.jpg">
  	履歴
  	2018.03.20~Release
  	
  </p>
</div>
