/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* メディアクエリ ================================ */

/*タブレット向け*/
@media (max-width: 1000px) {
    #menu li{
    width: 25%;
    border-bottom: 1px solid #444;
  }
}


/*スマホ向け*/
@media(max-width: 550px){
  .hader-logo{
	font-size: 30px;
	}
  .about-main{
    width:100%;
  }
  .about-main img{
  width: 90%;
}
  .header-menus{
  color: black;
  }
/*  .menu-icon{
  	display:block;
  }*/
  .main {
  top: 130px;
}
　　header {
  height: 130px;
}
　　.header-logo {
  line-height: 130px;
}

}